header {
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  display: flex;
  padding-left: 10px;
  background-color: black;
  z-index: 5;
}

header nav {
  display: inline-block;
  text-decoration: underline;
  position: absolute;
  right: 10px;
}

nav span {
  padding: 10px;
}

body {
  margin: 0px;
  padding: 0px;
  color: seashell;
  background-color: black;
  font-family: helvetica;
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 80px;
  margin: auto;
}

#featured {

}

.picture-container{

}

h2,
h4 {
  background-color: black;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.container {
  width: 100%;
  background-color: black;
  margin: auto;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#locations .main-container {
  position: relative;
}

.filler {
  align-content: center;
  position: relative;
  bottom: 167px;
  left: 425px;
}

#locations h2 {
  background-color: inherit;
  position: absolute;

}

#locations .loc-text {
  background-color: black;
  width: 300px;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
  margin: 15px 20px;
}

a:link, a:visited {
    color: seashell;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: seashell;
}
